.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#main {
    /*float: left;*/
    /*width: 60%;*/
    padding: 10px;
    border: 0px;
}

#produktionskette {

}

#produktionskette > h2 {
    float: left;
}

#produktionskette > p {
    float: left;
}

#diagram {
    background-image: url('../images/arrows.png');
    height: 528px;
    width: 700px;
    display: grid;
    grid-gap: 10px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 1px red;
}

.diaelement {
    position: relative;
    max-width: 40%;
}

#item-gen1 {
    grid-column: 1;
    grid-row: 1;
}

#machine {
    grid-column: 3;
    grid-row: 1;
}

#item-gen2 {
    grid-column: 5;
    grid-row: 1;
}

#conveyor {
    grid-column: 2;
    grid-row: 2;
}

#intelligent {
    grid-column: 2;
    grid-row: 2;
}

#trash {
    grid-column: 4;
    grid-row: 2;

}

#interim {
    grid-column: 1;
    grid-row: 3;
}

#end-storage {
    grid-column: 5;
    grid-row: 3;
}


/*
#main,
aside,
footer {
    margin: 20px 1.5% 20px 1.5%;
}*/

aside {
    /*float: right;*/
    /*width: 30%;*/
    margin: 10px;
    border: solid 10px;
}


footer {
    clear: both;
    text-align: center;
    margin-bottom: 15px;
}




/* small */
@media screen and (max-width: 767px) {
    body {
        display: none; /*coming soon TM*/
    }
}

/* medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .flex {
        flex-direction: column-reverse;
    }

    #main {
        border-top: solid 2px lightgrey;
    }

    h2 {
        color: red;
    }
}

/* big */

@media screen and (min-width: 1024px) {

    .flex {
        flex-direction: row;
    }

    #main {
        border-right: solid 2px lightgrey;
    }

    h2 {
        color: blue;
    }
}
