main {
    align-content: center;
    display: inline-flex;
    align-items: top;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

article {
    margin: 0;
    padding: 10px;
    width: 723px;
    float: right;
}

#produktionskette {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

#produktionskette h2 {
    margin-bottom: 0;
    margin-right: 1em;
}

#menu {
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    width: 723px;
}

.komponenten {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.komponenten h3 {
    margin: 0;
    font-size: 1em;
    font-weight: bolder;
}

.komponenten p {
    margin: 0em 0em 0.5em 0em;
    font-size: 0.7em;
    font-weight: bold;
}

#aktualisieren {
    align-items: flex-end;
    align-self: flex-end;
}

aside {
    margin: 1em;
    max-height: 100%;
    flex-basis: 32em;
}

aside .itemgrid {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
}

aside .item {
    box-shadow: 0px 0px 10px 1px grey;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    display: flex;
    width: 15em;
    margin: 0.5em;
}

aside .item img {
    margin: 0.8em;
    max-height: 4em;
}

.desc {
    border-radius: 0em 0.5em 0.5em 0em;
    background: white;
    padding-left: 0.5em;
    width: 100%;
    height: 100%;
}

.desc h3 {
    margin-top: 0.25em;
    margin-bottom: 0;
    margin-right: 0.5em;
    font-weight: 100;
}

.desc p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    font-size: 0.8em;
}

.smallgreybold {
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 0;
    overflow: visible;
    color: #888888;
}

/* small */
@media screen and (max-width: 767px) {

    #menu {
        display: none;
    }

    aside {
        display: none;
    }

    article {
        width: auto;
    }

    article .itemgrid {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    article .item {
        box-shadow: 0px 0px 10px 1px grey;
        border-radius: 0.25em 0.25em 0.25em 0.25em;
        display: flex;
        align-items: center;
        flex-basis: 45%;
        min-width: 15em;
        margin: 0.5em;
    }

    article .item img {
        margin: 0.8em;
        max-height: 4em;
    }
}

/* really small */
@media screen and (max-width: 531px) {
        article .item {
        flex-basis: 100%;
        min-width: auto;
    }
}

/* medium and big */
@media screen and (min-width: 768px) {
    .small {
        display: none;
    }

    #diagram {
        background-image: url('../images/arrows.png');
        height: 548px;
        /*528px;*/
        display: grid;
        background-repeat: no-repeat;
        background-size: contain;
        border: solid 1px lightgrey;
        grid-template-columns: repeat(5, 1fr)
    }

    .diaelement {
        position: relative;
        width: 6.1em;
        justify-self: center;
        align-self: center;
    }

    #item-gen1 {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;
        margin-right: 50px;
    }

    #machine {
        grid-column: 3;
        grid-row: 1;
        margin-left: 25px;
    }

    #item-gen2 {
        grid-column: 4;
        grid-column-end: span 5;
        grid-row: 1;
        margin-left: 30px;
    }

    #conveyor {
        grid-column: 2;
        grid-row: 2;
        margin-left: 30px;
    }

    #intelligent {
        grid-column: 4;
        grid-row: 2;
        margin-right: 20px;
    }

    #trash {
        grid-column: 1;
        grid-column-end: span 2;
        grid-row: 3;
        margin-bottom: 30px;
        margin-right: 30px;
    }

    #interim {
        grid-column: 3;
        grid-row: 3;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    #end-storage {
        grid-column: 4;
        grid-column-end: span 5;
        grid-row: 3;
        margin-bottom: 20px;
        margin-left: 50px;
    }
}

/* medium */

@media screen and (min-width: 768px) and (max-width: 1023px) {

    main {
        flex-direction: column-reverse;
        align-content: center;
        align-items: center;
    }

    aside {
        max-width: 723px;
    }

    article {
        border-top: solid 2px lightgrey;
    }

    .item {
        box-sizing: border-box;
        max-width: 48%;
        flex-grow: 1;
    }
}

/* big */

@media screen and (min-width: 1024px) {

    main {
        flex-direction: row;
    }

    article {
        border-right: solid 2px lightgrey;
    }
}
